<div class="row form">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @message do |f| %>

		<%= f.label :Nom, class: 'strong-label' %>
		<%= f.text_field :name, placeholder: "aaaaIndiquez votre nom", class:"wrap"%>

		<%= f.label :Email, class: 'strong-label' %>
		<%= f.text_field :email, placeholder: "Indiquez votre email"%>

		<%= f.label :objet, class: 'strong-label' %>
                <%= f.text_field :subject, placeholder: "Indiquez le sujet"%>

		<%= f.label :Message, class: 'strong-label'  %> 
		<%= f.text_area :message, placeholder: "Précisez votre message" %>

		<%= f.hidden_field :type, value:nil %>

		<%= f.submit :Envoyer, class: 'btn btn-medium-green btn-block' %>

		<% end %>

	</div>
</div>
