<div class="row form">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @invitation do |f| %>

		<%= f.label :"Nom de l'expéditeur", class: 'strong-label' %>
		<%= f.text_field :name, placeholder: "Votre nom tel qu'il apparaît aux destinataires", class:"wrap"%>

		<%= f.label :Email, class: 'strong-label' %>
		<%= f.text_field :email, placeholder: "Email"%>

                <%= f.label :"Lien de l'agaseke (copier-coller plus bas)", class: 'strong-label' %>
                <%= f.text_field :link, placeholder: "Lien à envoyer dans le message"%>

                <%= f.label :Destinataires, class: 'strong-label' %>
                <%= f.text_field :recipients, placeholder: "Adresses mails des personnes à inviter à contribuer séparées par des virgules"%>

		<%= f.label :objet, class: 'strong-label' %>
                <%= f.text_field :subject, placeholder: "Indiquez le sujet"%>

		<%= f.label :"Corps du Message", class: 'strong-label'  %> 
		<%= f.text_area :message, placeholder: "Précisez votre message à vos contributeurs. Inclure ici le lien de 'agaseke" %>

		<%= f.hidden_field :type, value:nil %>

		<%= f.submit :Envoyer, class: 'btn btn-medium-green btn-block' %>


		<% end %>

	</div>
</div>
