<div class="jumbo">
	<div class="carousel-inner">
    <%= image_tag 'tickets_place.png', class: 'mySlides filter-image3', title: "La billeterie internationale" %>
		<%= image_tag 'boy_and_girl_pay.png', class: 'mySlides filter-image', title: "La billeterie internationale" %>
		<%= image_tag 'qrcode.png', class: 'mySlides filter-image2', title: "La billeterie internationale" %>
    <div class="carousel-text">
      <!-- <h1 class="titre-force"><%= t('projects.index.parts.first.titla') %></h1> -->
      <h1><%= t('projects.index.parts.first.titla') %> </h1>
      <%= link_to t('projects.index.parts.first.create_c'), main_app.new_project_path, class: 'btn-medium-green' %>

      <!-- <h3><%= t('projects.index.parts.first.titlb') %></h3> <br> 
      <%= link_to t('projects.index.parts.first.create_u'), main_app.new_project_path, class: 'btn-medium-green' %> -->
    </div>
	</div>
</div>