<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Exemples d'agaseke</h2>
		</div>
	</div>
</div>

<div class="discover white">
	<div class="container text-center exemple">
		<div class="yellowyellow"> 
			<div class="why-icon">
				<%= image_tag 'cake.svg'%>
			</div>
			<div class="discover-title-item">
				Anniversaire de Mugwaneza
			</div>
		</div>
		<p>C'est les 25 ans de Mugwaneza qui vit à kigali. il a invité ses proches pour un brunch.</p>
		<p>Un de ses meilleurs amis, Butera décide pour l'occasion de créer agaseke afin de lui offrir un beau cadeau en faisant participer les autres copains et la famille.</p>
		<p>Ils sont tous au 4 coins du Rwanda (Rusizi, Rubavu, Musanze, Kigali...)

		</p>
		<p>
			Butera collecte 100,000 rwfs en 8 jours, demande à Kwendoo le retrait des fonds sur son compte bancaire et se charge d'acheter le cadeau, un iphone. Il va le remettre à Musonera (au nom de tous les participants) le jour du Brunch que cette dernière a organisé pour fêter son premier quart de siècle. 
		</p>
		<p>
			Ainsi, Shema a pu participer à célébrer les 25 ans de sa cousine adorée, sans toutefois pouvoir se déplacer. Elle s'est tout simplement rendu sur le lien qu'avait envoyé Butera et a effectué sa contribution à distance. 
		</p>
		<p>En plus, tous ses proches lui ont laissé un messge sur kwendoo qu'elle découvre en même temps que la surprise du cadeau</p>


		<div class="purplepurple"> 
			<div class="why-icon">
				<%= image_tag 'mariage.svg'%>
			</div>
			<div class="discover-title-item">
				Mariage d'uwineza à Karongi 
			</div>
		</div>

		<p>Uwineza se marie à Karongi d'où est originaire son mari. Ils y organisent pour cela une grande réception.</p>
		<p>Toute sa nombreuse famille en afrique ne pourra pas faire le voyage et pourtant un certains nombre d'entre eux souhaiteraient contribuer à rendre cet evènement mémorable pour elle.</p>
		<p>Migambi son oncle ouvre agaseke sur Kwendoo pour faire participer toute la famille au Rwanda, kenya et Uganda.</p>
		<p>Une fois la collecte terminée, Oncle Migambi demande sur Kwendoo le paiement des fonds sur le compte bancaire de sa nièce (la mariée).</p>
		<p>Uwineza reçoit par surprise un mail et un SMS lui indiquant que sa famille partout en Afrique a cotisé pour sa réception de mariage,<br/> la somme de 1,000,000 rwfs, de quoi boucler le paiement du traiteur.</p>
		<p>Elle en est toute ravie</p>

		<div class="greengreen"> 
			<div class="why-icon">
				<%= image_tag 'associatif.svg'%>
			</div>
			<div class="discover-title-item">
				Equipement pharmaceutique d'un Centre de Santé
			</div>
		</div> 

		<p>L'association des ressortissants de Rubavu vivant en Europe souhaite équiper le Centre de Santé de leur localité, d'une pharmacie achalandée en médicaments contre les maladies infectieuses </p>
		<p>Le Président de l'association (qui habite Bruxelles) ouvre une agaseke sur Kwendoo, et fait participer les membres et sympathisants de l'organisation à travers l'Europe (Rwandais, Français, Belges...).</p>
		<p>ils vont dépenser la collecte en achat de médicaments et vont transférer le reste au Rwanda directement via Kwendoo et notre partenaire de transfert.</p>
		<p> Le Centre de Santé de Rubavu organise une demi-journée avec son personnel et les malades, le jour de la réception des stocks de médicaments afin de rendre hommage à leur bienfaiteurs en diaspora.</p>



		<div class="redred"> 
			<div class="why-icon">
				<%= image_tag 'summer.svg'%>
			</div>
			<div class="discover-title-item">
				Voyage à kigali pour un stage de fin d'études
			</div>
		</div> 
		<p>Rutayisire qui fait ses études en comptabilité, a toujours voulu effectuer son stage de dernière année de comptabilité au sein d'un institutions tres connue. </p>
		<p>Il a été accepté à la banque populaire du Rwanda à kigali.</p>
		<p>Le logement est pris en charge par l'institut. Seulement Rutayisire doit payer son billet de transport et les frais de séjour. il n'a pas assez de moyens. </p>
		<p>Il ouvre une agaseke sur Kwendoo pour collecter les fonds auprès de ses proches, enseignants et co-équipiers de l'équipe de hand de l'Ecole. </p>    


		<div class="yellowyellow"> 
			<div class="why-icon">
				<%= image_tag 'fam.svg'%>
			</div>
			<div class="discover-title-item">
				Tontine
			</div>
		</div>
		<p>Ikaze, Rugwiro, Kabengera, Mucyo, Karara, Ntwari, Ngabo et Usanase sont 8 amis d'enfance qui ont grandit à Rutsiro. </p>
		<p>Ils vivent et travaillent tous dans différentes villes du pays (Gicumbi, Musanze, Nyabihu, Rutsiro, Kigali...)</p>
		<p>Ils voudraient lancer Ikimina entre-eux afin de re-créer d'une certain façon le lien de solidarité qui existait entre-eux. Ils ne savent pas comment s'y prendre étant tous à distance les uns des autres.</p>
		<p>L'un d'eux a entendu parler de Kwendoo et suggère aux autres d'utiliser la collecte en ligne à cette fin. Ils ouvrent alors une agaseke périodique dans laquelle ils vont collecter de l'argent tous les mois à destination d'un d'eux et à tour de rôle. Le montant de la mise est fixé à 65,000 rwfs. </p>
		<p> Ainsi tous les mois, un d'eux récolte  650,000 rwfs qu'il/elle utilise à sa guise.</p>
		<p>Ils ont ainsi re-créeer de façon digitale et malgré la distance, leur mécanisme d'entraide.</p> 
	</div>
</div>
</div>
