<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Examples of Events</h2>
		</div>
	</div>
</div>

<div class="discover white">
	<div class="container text-center exemple">
		<div class="yellowyellow"> 
			<div class="why-icon">
				<%= image_tag 'ex.png'%>
			</div>
			<div class="discover-title-item">Exhibition
			</div>
		</div>
		<p>Muteteri is a young Painter in Kibeho; she wants to expose her recent paints at Dian Fossey Nyiramacibiri Hotel at Gisenyi</p>
		<p>On her plan she is expecting guest to have a drinks at the entrance, she proposed to sell tickets on different selling points. She never forgot about people who do online shopping.</p>
		<p>
                       Ticket kwendoo is the perfect choice; she has to share on her social media account for fans to be updated.
		</p>
		<p>
                       Venue details are included on website event information.
      		</p>


		<div class="purplepurple"> 
			<div class="why-icon">
				<%= image_tag 'sport.png'%>
			</div>
			<div class="discover-title-item">
				Sport
			</div>
		</div>

		<p>Mark wants to go to a Kiyovu football club and Rayon sport football Club soccer match this Saturday. </p>
		<p>Sell points are only in Town at the MAKUZA pension Plaza, He never gets time during the day.</p>
		<p>Mukiza already knows about Ticket kwendoo, a website where you can buy or book upcoming events tickets.</p>
		<p>Mukiza visited Mark at his office and told him that he can pay for the football match ticket online on ticket kwendoo; he then bought 8 places and immediately got the tickets.</p>
		

		<!-- <div class="greengreen"> 
			<div class="why-icon">
				<%= image_tag 'sport.png'%>
			</div>
			<div class="discover-title-item">
				Sport
			</div>
		</div> 
		<p>Mark wants to go to a Kiyovu football club and Rayon sport football Club soccer match this Saturday. </p>
		<p>Sell points are only in Town at the MAKUZA pension Plaza, He never gets time during the day.</p>
		<p>Mukiza already knows about Ticket kwendoo, a website where you can buy or book upcoming events tickets.</p>
		<p>Mukiza visited Mark at his office and told him that he can pay for the football match ticket online on ticket kwendoo; he then bought 8 places and immediately got the tickets.</p>
                 -->
               

		<div class="redred"> 
			<div class="why-icon">
				<%= image_tag 'summer.svg'%>
			</div>
			<div class="discover-title-item">
				 Tourism
			</div>
		</div> 
		<p>Annet studied in tourism, as she is always busy she is trying to plan for a trip on Labor Day.</p>
		<p>She saw a post on Facebook from Nyungwe national park, where they have shared a link of their event on Ticket Kwendoo, and they have a trip of two days on public holiday.</p>
		<p>She followed the link and bought the ticket. Receipt was immediately sent to her.</p>
		   


		<!--<div class="yellowyellow"> 
			<div class="why-icon">
				<%= image_tag 'fam.svg'%>
			</div>
			<div class="discover-title-item">
				Tontine
			</div>
		</div>
		<p>Kaze, Rugwiro, Kabengera, Mucyo, Karara, Ntwari, Ngabo and Usanase are 8 childhood friends who grew up in Rutsiro. </p>
		<p>They live and work in different cities of the country (Gicumbi, Musanze, Nyabihu, Rutsiro, Kigali ...) </p>
		<p>They would like to launch an ikimina in order to re-create in some way the bond of solidarity that existed between them. They do not know how to make it being all at a distance from each other.</p>
		<p>One of them has heard of Kwendoo  and suggests to others to use the online service for this purpose. They then open a periodic agaseke in which they will collect money each month to one of them in turn. The amount of the bet is set at 65,000 rwfs. </p>
		<p> So every month, one of them collects 520,000 rwfs that he / she uses as he wishes.</p> -->
	</div>
</div>
</div>
