	<%= content_for :title, t('.title') %>

	<div class="background-full text-center">
		<div class="filter-black-title flex-container">
			<div class="background-title flex-item">
				<h2>Kuki nahitamo kwendoo Rwanda?</h2>
			</div>
		</div>
	</div>


<div class="why text-center">
	<div class="container padded-top why-item">
		<div class="row">
			<div class="col-sm-6 col-lg-3 yellowyellow">
				<div class="why-icon">
					<%= image_tag	"tool.svg" %>
				</div>
				<div class="why-title-item">
					Umutekano
				</div>
				<div class="why-description">
					rubuga rwa Kwendoo Rwanda rufite umutekano wo kuba rutakwinjirirwa nabatabifitiye uburenganzira wo murwego rwo hejuru. Ikoranabuhanga rihambaye rwikusanyafaranga ryitwa WeCashUp.
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 redred">
				<div class="why-icon">
					<%= image_tag	"interface.svg" %>
				</div>
				<div class="why-title-item">
					Mpuzamahanga
				</div>
				<div class="why-description">
                                       Kwendoo ni ikompanyi izwi kurewo mpuzamahanga cyane cyane i burayi aho ikorera mu bihugu bitatu kuva mu mwaka wa 2015.
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 greengreen">
				<div class="why-icon">
					<%= image_tag	"travel.svg" %>
				</div>
				<div class="why-title-item">
					Kwishyura
				</div>
				<div class="why-description">
                                        ushobora kwishyura kuri kwendoo ukoresheje amafaranga y'ibihugu birenga 20. Nyir'agaseke ashobora kubikuza amafaranga y'amanyarwanda
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 purplepurple">
				<div class="why-icon">
					<%= image_tag	"favorite.svg" %>
				</div>
				<div class="why-title-item">
					Ibikorwa rusange
				</div>
				<div class="why-description">
                                      Kwendoo ifasha guhuza no gushyira hamwe kw'abanyarwanda baba mu gihugu no mumahanga.
				</div>
			</div>
		</div>
	</div>
</div>

