	<%= content_for :title, t('.title') %>

	<div class="background-full text-center">
		<div class="filter-black-title flex-container">
			<div class="background-title flex-item">
				<h2> Why choose Kwendoo Tickets?</h2>
			</div>
		</div>
	</div>


<div class="why text-center">
	<div class="container padded-top why-item">
		<div class="row">
			<div class="col-sm-6 col-lg-3 yellowyellow">
				<div class="why-icon">
					<%= image_tag	"tool.svg" %>
				</div>
				<div class="why-title-item">
					Secure
				</div>
				<div class="why-description">
                                        Secured by Mangopay,3DSecure System, No banking information on the site.
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 redred">
				<div class="why-icon">
					<%= image_tag	"interface.svg" %>
				</div>
				<div class="why-title-item">
					Customization
				</div>
				<div class="why-description">
                                      Possible integration in Event poster,Easily customize your ticket.
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 greengreen">
				<div class="why-icon">
					<%= image_tag	"travel.svg" %>
				</div>
				<div class="why-title-item">
					Easy payment
				</div>
				<div class="why-description">
                                        Purchases are made directly online by Credit Card or Mobile Money.
 				</div>
			</div>
			<div class="col-sm-6 col-lg-3 purplepurple">
				<div class="why-icon">
					<%= image_tag	"collect.png" %>
				</div>
				<div class="why-title-item">
					Collect
				</div>
				<div class="why-description">
                                        Receive your money from your online ticketing by bank transfer
				</div>
			</div>
		</div>
	</div>
</div>

