	<%= content_for :title, t('.title') %>

	<div class="background-full text-center">
		<div class="filter-black-title flex-container">
			<div class="background-title flex-item">
				<h2> Pourquoi choisir Kwendoo Tickets?</h2>
			</div>
		</div>
	</div>


<div class="why text-center">
	<div class="container padded-top why-item">
		<div class="row">
			<div class="col-sm-6 col-lg-3 yellowyellow">
				<div class="why-icon">
					<%= image_tag	"tool.svg" %>
				</div>
				<div class="why-title-item">
					Sécurité
				</div>
				<div class="why-description">
					Navigation sécurisé par chiffrement https. Informations de paiement sécurisées
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 redred">
				<div class="why-icon">
					<%= image_tag	"interface.svg" %>
				</div>
				<div class="why-title-item">
					Fiabilité
				</div>
				<div class="why-description">
					Kwendoo Tickets est un produit géré par l'Association Fiatope <br>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 greengreen">
				<div class="why-icon">
					<%= image_tag	"travel.svg" %>
				</div>
				<div class="why-title-item">
					International
				</div>
				<div class="why-description">
					
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 purplepurple">
				<div class="why-icon">
					<%= image_tag	"favorite.svg" %>
				</div>
				<div class="why-title-item">
					Bénéfique
				</div>
				<div class="why-description">
					
				</div>
			</div>
		</div>
	</div>
</div>

